In [29]:

from openai import OpenAI
import numpy as np
from dotenv import load_dotenv
import ast
import pandas as pd
import datetime
import os
import glob
import praw
import requests
import json
import math
import tqdm
import ipywidgets as widgets
from IPython.display import display
import time

load_dotenv()

client = OpenAI(
    api_key=os.environ.get("OPENAI_API_KEY"), 
)

def get_embedding(txts):
    response = client.embeddings.create(
        input=txts,
        model="text-embedding-3-small"
        )
    return response.data

# response = client.embeddings.create(
#     input="Your text string goes here",
#     model="text-embedding-3-small"
# # )

# print(response.data[0].embedding)
embeddings_dir = "embeddings/"

reddit_subs_limit = 1200
reddit_top_all_post_limit = 20
reddit_hot_post_limit = 20

In [20]:
def add_embeddings_for_titles(sub, titles, chunk_size=25):
    sub_csv_filename = f"{embeddings_dir}{sub}.pickle"
    if not os.path.exists(sub_csv_filename):
        existing_df = pd.DataFrame(columns=["Sub", "Title", "Embedding", "Added"])
    else:
        existing_df = pd.read_pickle(sub_csv_filename)

    existing = set(zip(existing_df["Sub"], existing_df["Title"]))
    new_titles = [t for t in titles if (sub, t) not in existing]
    for i in range(0, len(new_titles), chunk_size):
        chunk = new_titles[i:i+chunk_size]
        results = get_embedding(chunk)
        for title, res in zip(chunk, results):
            existing_df.loc[len(existing_df)] = [
                sub,
                title,
                res.embedding,
                datetime.datetime.now().isoformat()
            ]

    existing_df.to_pickle(sub_csv_filename)
    return {
        "fetched": len(new_titles),
        "skipped": len(titles) - len(new_titles),
    }



def get_combined_embeddings(only_subs):
    file_list = glob.glob(f"{embeddings_dir}*.pickle")
    all_dfs = []
    for file_path in file_list:
        if len(only_subs) > 0:
            should_read = False
            for sub in only_subs:
                if file_path.endswith(f"{sub}.pickle"):
                    should_read = True
                    break
            if not should_read:
                continue
        df_temp = pd.read_pickle(file_path)
        all_dfs.append(df_temp)
    combined_df = pd.concat(all_dfs, ignore_index=True)
    # combined_df["Embedding_np"] = combined_df["Embedding"].apply(lambda x: np.array(ast.literal_eval(x)))
    return combined_df

In [21]:
reddit = praw.Reddit(
    client_id=os.environ.get("REDDIT_CLIENT_ID"),
    client_secret=os.environ.get("REDDIT_CLIENT_SECRET"),
    user_agent='Python:com.findthesub:fetch-script'
)

def fetch_hot_and_top_posts(sub, config = {
    'hot_count': reddit_hot_post_limit,
    'top_all_count': reddit_top_all_post_limit
}):
    max_chunk = 100
    hot_count = config['hot_count']
    top_all_count = config['top_all_count']
    subreddit = reddit.subreddit(sub)
    collected = []
    for sort, limit, kwargs in [
        ('hot', hot_count, {}),
        ('top', top_all_count, {'time_filter':'all'})
    ]:
        after = None
        fetched = 0
        while fetched < limit:
            chunk_size = min(max_chunk, limit - fetched)
            gen = getattr(subreddit, sort)(limit=chunk_size, params={'after': after}, **kwargs)
            items = list(gen)
            if not items: break
            collected.extend(items)
            fetched += len(items)
            after = items[-1].name
            if len(items) < chunk_size: break
    return [p.title for p in collected]

    return [p.title for p in collected]

def get_top_subs(limit=reddit_subs_limit):
    max_chunk = 100
    collected = []
    after = None
    
    fetched = 0
    while fetched < limit:
        chunk_size = min(max_chunk, limit - fetched)
        gen = reddit.subreddits.popular(limit=chunk_size, params={'after': after})
        items = list(gen)
        if not items:
            break
        collected.extend(items)
        fetched += len(items)
        # For subreddits, the 'fullname' should be used as 'after'
        # but if that doesn't work, try items[-1].name or items[-1].id
        after = items[-1].fullname  
        if len(items) < chunk_size:
            break

    return [s.display_name for s in collected]


# Example usage:
# titles = fetch_reddit_post_titles_for_sub('python', limit=120, sort='new')
# print(titles)

In [28]:

progress = widgets.IntProgress(value=0, )
progress_label = widgets.Label(value=f"0/0 processed")
log_area = widgets.Textarea(
    value="",
    placeholder="Logs will appear here...",
    description="Logs",
    layout=widgets.Layout(width='100%', height='300px'),
    disabled=True,
)
display(progress_label, progress, log_area)

log_area.value += "Fetching top subreddits...\n"
subs_to_fetch = get_top_subs()
log_area.value += f"Fetched {len(subs_to_fetch)} subreddits\n\n"
progress.max = len(subs_to_fetch)
progress.value = 0
progress_label.value = f"0/{len(subs_to_fetch)} processed"


for sub in subs_to_fetch:
    progress.value += 1 
    progress_label.value = f"{progress.value}/{len(subs_to_fetch)} processed"
    
    # Update logs
    log_message = f"Processing '{sub}'...\n"
    titles = fetch_hot_and_top_posts(sub)
    log_message += f"Fetched {len(titles)} titles for {sub}\n"
    
    results = add_embeddings_for_titles(sub, titles)
    log_message += f"Added {results['fetched']} new embeddings, skipped {results['skipped']} existing\n\n"
    
    log_area.value += log_message  # Append to the textarea
    
    log_area_lines = log_area.value.split("\n")
    if len(log_area_lines) > 500:
        log_area.value = "\n".join(log_area_lines[-500:])

# Final step
df = get_combined_embeddings(subs_to_fetch)
df.to_pickle("embeddings.pickle")
log_area.value += "Processing complete. Embeddings saved to 'embeddings.pickle'.\n"

Label(value='0/0 processed')

IntProgress(value=0)

Textarea(value='', description='Logs', disabled=True, layout=Layout(height='300px', width='100%'), placeholderâ€¦

In [42]:
df = get_combined_embeddings([])
df.to_pickle("embeddings.pickle")

# Print numeber of embeddings
print(f"Total embeddings: {len(df)}")

# Limit to first 1000 embeddings
len(df)

Total embeddings: 48000

48000

In [ ]:


# Configuration Parameters
API_URL = f"{os.environ.get("ZILLIZ_HOST")}/v2/vectordb/entities/insert"
HEADERS = {
    "Authorization": f"Bearer {os.environ.get('ZILLIZ_API_KEY')}",
    "Accept": "application/json",
    "Content-Type": "application/json"
}
COLLECTION_NAME = "FindTheSub"
CHUNK_SIZE = 250  # Set your desired chunk size here

def send_data_to_api(df, url, headers, collection_name, chunk_size=100):
    """
    Sends data from a DataFrame to the specified API in chunks.

    Parameters:
    - df (pd.DataFrame): DataFrame containing 'Sub', 'Title', and 'Embedding' columns.
    - url (str): The API endpoint URL.
    - headers (dict): HTTP headers for the request.
    - collection_name (str): Name of the collection in the API.
    - chunk_size (int): Number of records to send per API request.
    """
    
    total_records = len(df)
    total_chunks = math.ceil(total_records / chunk_size)
    
    print(f"Total records to send: {total_records}")
    print(f"Sending in {total_chunks} chunk(s) of up to {chunk_size} records each.\n")
    
    for chunk_num in range(total_chunks):
        start_idx = chunk_num * chunk_size
        end_idx = min(start_idx + chunk_size, total_records)
        chunk_df = df.iloc[start_idx:end_idx]
        
        # Prepare the data payload
        data_payload = []
        for idx, row in chunk_df.iterrows():
            entity = {
                # Calculate integer primary key based on sub + title
                "primary_key": hash(f"{row['Sub']}_{row['Title']}"),
                "sub": row['Sub'],
                "title": row['Title'],
                "vector": row['Embedding']
            }
            data_payload.append(entity)
        
        payload = {
            "collectionName": collection_name,
            "data": data_payload
        }
        
        try:
            response = requests.post(url, data=json.dumps(payload), headers=headers)
            response.raise_for_status()  # Raise an exception for HTTP errors
            response_data = response.json()
            print(f"Chunk {chunk_num + 1}/{total_chunks} (Records {start_idx} to {end_idx - 1}) sent successfully.")
            print(f"Response: {json.dumps(response_data, indent=2)[0:64]}\n")
        except requests.exceptions.HTTPError as http_err:
            print(f"HTTP error occurred for chunk {chunk_num + 1}: {http_err}")
            print(f"Response: {response.text}\n")
        except Exception as err:
            print(f"An error occurred for chunk {chunk_num + 1}: {err}\n")

# Example Usage:
# Assuming 'df' is your DataFrame with 'Sub', 'Title', and 'Embedding' columns
# Make sure 'Embedding' is a list of numerical values for each row

send_data_to_api(df, API_URL, HEADERS, COLLECTION_NAME, CHUNK_SIZE)

Total records to send: 48000
Sending in 192 chunk(s) of up to 250 records each.

Chunk 1/192 (Records 0 to 249) sent successfully.
Response: {
  "code": 0,
  "cost": 380,
  "data": {
    "insertCount": 250

Chunk 2/192 (Records 250 to 499) sent successfully.
Response: {
  "code": 0,
  "cost": 380,
  "data": {
    "insertCount": 250

Chunk 3/192 (Records 500 to 749) sent successfully.
Response: {
  "code": 0,
  "cost": 380,
  "data": {
    "insertCount": 250

Chunk 4/192 (Records 750 to 999) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 5/192 (Records 1000 to 1249) sent successfully.
Response: {
  "code": 0,
  "cost": 380,
  "data": {
    "insertCount": 250

Chunk 6/192 (Records 1250 to 1499) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 7/192 (Records 1500 to 1749) sent successfully.
Response: {
  "code": 0,
  "cost": 382,
  "data": {
    "insertCount": 250

Chunk 8/192 (Records 1750 to 1999) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 9/192 (Records 2000 to 2249) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 10/192 (Records 2250 to 2499) sent successfully.
Response: {
  "code": 0,
  "cost": 380,
  "data": {
    "insertCount": 250

Chunk 11/192 (Records 2500 to 2749) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 12/192 (Records 2750 to 2999) sent successfully.
Response: {
  "code": 0,
  "cost": 380,
  "data": {
    "insertCount": 250

Chunk 13/192 (Records 3000 to 3249) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 14/192 (Records 3250 to 3499) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 15/192 (Records 3500 to 3749) sent successfully.
Response: {
  "code": 0,
  "cost": 380,
  "data": {
    "insertCount": 250

Chunk 16/192 (Records 3750 to 3999) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 17/192 (Records 4000 to 4249) sent successfully.
Response: {
  "code": 1100,
  "message": "length of varchar field title ex

Chunk 18/192 (Records 4250 to 4499) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 19/192 (Records 4500 to 4749) sent successfully.
Response: {
  "code": 0,
  "cost": 380,
  "data": {
    "insertCount": 250

Chunk 20/192 (Records 4750 to 4999) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 21/192 (Records 5000 to 5249) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 22/192 (Records 5250 to 5499) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 23/192 (Records 5500 to 5749) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 24/192 (Records 5750 to 5999) sent successfully.
Response: {
  "code": 0,
  "cost": 380,
  "data": {
    "insertCount": 250

Chunk 25/192 (Records 6000 to 6249) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 26/192 (Records 6250 to 6499) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 27/192 (Records 6500 to 6749) sent successfully.
Response: {
  "code": 0,
  "cost": 380,
  "data": {
    "insertCount": 250

Chunk 28/192 (Records 6750 to 6999) sent successfully.
Response: {
  "code": 0,
  "cost": 380,
  "data": {
    "insertCount": 250

Chunk 29/192 (Records 7000 to 7249) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 30/192 (Records 7250 to 7499) sent successfully.
Response: {
  "code": 0,
  "cost": 380,
  "data": {
    "insertCount": 250

Chunk 31/192 (Records 7500 to 7749) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 32/192 (Records 7750 to 7999) sent successfully.
Response: {
  "code": 0,
  "cost": 380,
  "data": {
    "insertCount": 250

Chunk 33/192 (Records 8000 to 8249) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 34/192 (Records 8250 to 8499) sent successfully.
Response: {
  "code": 0,
  "cost": 380,
  "data": {
    "insertCount": 250

Chunk 35/192 (Records 8500 to 8749) sent successfully.
Response: {
  "code": 0,
  "cost": 380,
  "data": {
    "insertCount": 250

Chunk 36/192 (Records 8750 to 8999) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 37/192 (Records 9000 to 9249) sent successfully.
Response: {
  "code": 0,
  "cost": 380,
  "data": {
    "insertCount": 250

Chunk 38/192 (Records 9250 to 9499) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 39/192 (Records 9500 to 9749) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 40/192 (Records 9750 to 9999) sent successfully.
Response: {
  "code": 0,
  "cost": 380,
  "data": {
    "insertCount": 250

Chunk 41/192 (Records 10000 to 10249) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 42/192 (Records 10250 to 10499) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 43/192 (Records 10500 to 10749) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 44/192 (Records 10750 to 10999) sent successfully.
Response: {
  "code": 0,
  "cost": 380,
  "data": {
    "insertCount": 250

Chunk 45/192 (Records 11000 to 11249) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 46/192 (Records 11250 to 11499) sent successfully.
Response: {
  "code": 0,
  "cost": 380,
  "data": {
    "insertCount": 250

Chunk 47/192 (Records 11500 to 11749) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 48/192 (Records 11750 to 11999) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 49/192 (Records 12000 to 12249) sent successfully.
Response: {
  "code": 1100,
  "message": "length of varchar field title ex

Chunk 50/192 (Records 12250 to 12499) sent successfully.
Response: {
  "code": 0,
  "cost": 380,
  "data": {
    "insertCount": 250

Chunk 51/192 (Records 12500 to 12749) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 52/192 (Records 12750 to 12999) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 53/192 (Records 13000 to 13249) sent successfully.
Response: {
  "code": 0,
  "cost": 380,
  "data": {
    "insertCount": 250

Chunk 54/192 (Records 13250 to 13499) sent successfully.
Response: {
  "code": 0,
  "cost": 380,
  "data": {
    "insertCount": 250

Chunk 55/192 (Records 13500 to 13749) sent successfully.
Response: {
  "code": 0,
  "cost": 380,
  "data": {
    "insertCount": 250

Chunk 56/192 (Records 13750 to 13999) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 57/192 (Records 14000 to 14249) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 58/192 (Records 14250 to 14499) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 59/192 (Records 14500 to 14749) sent successfully.
Response: {
  "code": 0,
  "cost": 383,
  "data": {
    "insertCount": 250

Chunk 60/192 (Records 14750 to 14999) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 61/192 (Records 15000 to 15249) sent successfully.
Response: {
  "code": 0,
  "cost": 380,
  "data": {
    "insertCount": 250

Chunk 62/192 (Records 15250 to 15499) sent successfully.
Response: {
  "code": 0,
  "cost": 380,
  "data": {
    "insertCount": 250

Chunk 63/192 (Records 15500 to 15749) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 64/192 (Records 15750 to 15999) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 65/192 (Records 16000 to 16249) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 66/192 (Records 16250 to 16499) sent successfully.
Response: {
  "code": 0,
  "cost": 382,
  "data": {
    "insertCount": 250

Chunk 67/192 (Records 16500 to 16749) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 68/192 (Records 16750 to 16999) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 69/192 (Records 17000 to 17249) sent successfully.
Response: {
  "code": 0,
  "cost": 380,
  "data": {
    "insertCount": 250

Chunk 70/192 (Records 17250 to 17499) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 71/192 (Records 17500 to 17749) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 72/192 (Records 17750 to 17999) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 73/192 (Records 18000 to 18249) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 74/192 (Records 18250 to 18499) sent successfully.
Response: {
  "code": 0,
  "cost": 380,
  "data": {
    "insertCount": 250

Chunk 75/192 (Records 18500 to 18749) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 76/192 (Records 18750 to 18999) sent successfully.
Response: {
  "code": 0,
  "cost": 380,
  "data": {
    "insertCount": 250

Chunk 77/192 (Records 19000 to 19249) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 78/192 (Records 19250 to 19499) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 79/192 (Records 19500 to 19749) sent successfully.
Response: {
  "code": 0,
  "cost": 382,
  "data": {
    "insertCount": 250

Chunk 80/192 (Records 19750 to 19999) sent successfully.
Response: {
  "code": 0,
  "cost": 380,
  "data": {
    "insertCount": 250

Chunk 81/192 (Records 20000 to 20249) sent successfully.
Response: {
  "code": 0,
  "cost": 380,
  "data": {
    "insertCount": 250

Chunk 82/192 (Records 20250 to 20499) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 83/192 (Records 20500 to 20749) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 84/192 (Records 20750 to 20999) sent successfully.
Response: {
  "code": 0,
  "cost": 380,
  "data": {
    "insertCount": 250

Chunk 85/192 (Records 21000 to 21249) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 86/192 (Records 21250 to 21499) sent successfully.
Response: {
  "code": 0,
  "cost": 380,
  "data": {
    "insertCount": 250

Chunk 87/192 (Records 21500 to 21749) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 88/192 (Records 21750 to 21999) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 89/192 (Records 22000 to 22249) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 90/192 (Records 22250 to 22499) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 91/192 (Records 22500 to 22749) sent successfully.
Response: {
  "code": 0,
  "cost": 382,
  "data": {
    "insertCount": 250

Chunk 92/192 (Records 22750 to 22999) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 93/192 (Records 23000 to 23249) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 94/192 (Records 23250 to 23499) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 95/192 (Records 23500 to 23749) sent successfully.
Response: {
  "code": 0,
  "cost": 382,
  "data": {
    "insertCount": 250

Chunk 96/192 (Records 23750 to 23999) sent successfully.
Response: {
  "code": 0,
  "cost": 380,
  "data": {
    "insertCount": 250

Chunk 97/192 (Records 24000 to 24249) sent successfully.
Response: {
  "code": 0,
  "cost": 380,
  "data": {
    "insertCount": 250

Chunk 98/192 (Records 24250 to 24499) sent successfully.
Response: {
  "code": 0,
  "cost": 380,
  "data": {
    "insertCount": 250

Chunk 99/192 (Records 24500 to 24749) sent successfully.
Response: {
  "code": 0,
  "cost": 380,
  "data": {
    "insertCount": 250

Chunk 100/192 (Records 24750 to 24999) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 101/192 (Records 25000 to 25249) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 102/192 (Records 25250 to 25499) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 103/192 (Records 25500 to 25749) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 104/192 (Records 25750 to 25999) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 105/192 (Records 26000 to 26249) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 106/192 (Records 26250 to 26499) sent successfully.
Response: {
  "code": 0,
  "cost": 380,
  "data": {
    "insertCount": 250

Chunk 107/192 (Records 26500 to 26749) sent successfully.
Response: {
  "code": 0,
  "cost": 382,
  "data": {
    "insertCount": 250

Chunk 108/192 (Records 26750 to 26999) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 109/192 (Records 27000 to 27249) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 110/192 (Records 27250 to 27499) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 111/192 (Records 27500 to 27749) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 112/192 (Records 27750 to 27999) sent successfully.
Response: {
  "code": 0,
  "cost": 380,
  "data": {
    "insertCount": 250

Chunk 113/192 (Records 28000 to 28249) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 114/192 (Records 28250 to 28499) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 115/192 (Records 28500 to 28749) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 116/192 (Records 28750 to 28999) sent successfully.
Response: {
  "code": 0,
  "cost": 380,
  "data": {
    "insertCount": 250

Chunk 117/192 (Records 29000 to 29249) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 118/192 (Records 29250 to 29499) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 119/192 (Records 29500 to 29749) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 120/192 (Records 29750 to 29999) sent successfully.
Response: {
  "code": 0,
  "cost": 380,
  "data": {
    "insertCount": 250

Chunk 121/192 (Records 30000 to 30249) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 122/192 (Records 30250 to 30499) sent successfully.
Response: {
  "code": 0,
  "cost": 380,
  "data": {
    "insertCount": 250

Chunk 123/192 (Records 30500 to 30749) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 124/192 (Records 30750 to 30999) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 125/192 (Records 31000 to 31249) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 126/192 (Records 31250 to 31499) sent successfully.
Response: {
  "code": 0,
  "cost": 380,
  "data": {
    "insertCount": 250

Chunk 127/192 (Records 31500 to 31749) sent successfully.
Response: {
  "code": 0,
  "cost": 380,
  "data": {
    "insertCount": 250

Chunk 128/192 (Records 31750 to 31999) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 129/192 (Records 32000 to 32249) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 130/192 (Records 32250 to 32499) sent successfully.
Response: {
  "code": 0,
  "cost": 380,
  "data": {
    "insertCount": 250

Chunk 131/192 (Records 32500 to 32749) sent successfully.
Response: {
  "code": 0,
  "cost": 383,
  "data": {
    "insertCount": 250

Chunk 132/192 (Records 32750 to 32999) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 133/192 (Records 33000 to 33249) sent successfully.
Response: {
  "code": 0,
  "cost": 380,
  "data": {
    "insertCount": 250

Chunk 134/192 (Records 33250 to 33499) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 135/192 (Records 33500 to 33749) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 136/192 (Records 33750 to 33999) sent successfully.
Response: {
  "code": 0,
  "cost": 380,
  "data": {
    "insertCount": 250

Chunk 137/192 (Records 34000 to 34249) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 138/192 (Records 34250 to 34499) sent successfully.
Response: {
  "code": 0,
  "cost": 380,
  "data": {
    "insertCount": 250

Chunk 139/192 (Records 34500 to 34749) sent successfully.
Response: {
  "code": 0,
  "cost": 382,
  "data": {
    "insertCount": 250

Chunk 140/192 (Records 34750 to 34999) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 141/192 (Records 35000 to 35249) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 142/192 (Records 35250 to 35499) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 143/192 (Records 35500 to 35749) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 144/192 (Records 35750 to 35999) sent successfully.
Response: {
  "code": 0,
  "cost": 380,
  "data": {
    "insertCount": 250

Chunk 145/192 (Records 36000 to 36249) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 146/192 (Records 36250 to 36499) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 147/192 (Records 36500 to 36749) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 148/192 (Records 36750 to 36999) sent successfully.
Response: {
  "code": 0,
  "cost": 381,
  "data": {
    "insertCount": 250

Chunk 149/192 (Records 37000 to 37249) sent successfully.
Response: {
  "code": 0,
  "cost": 382,
  "data": {
    "insertCount": 250

Chunk 150/192 (Records 37250 to 37499) sent successfully.
Response: {
  "code": 0,
  "cost": 382,
  "data": {
    "insertCount": 250


In [16]:
# Read the CSV file
df = pd.read_pickle('embeddings.pickle')

# Replace "Embedding" with "Embedding_np"
# df["Embedding_np"] = df["Embedding"].apply(lambda x: np.array(ast.literal_eval(x)))
# df = df.drop(columns=["Embedding"])  # Drop the original "Embedding" column
# df.rename(columns={"Embedding_np": "Embedding"}, inplace=True)  # Rename "Embedding_np" to "Embedding"

# # Write back to a Parquet file
# df.to_pickle('server/embeddings.pickle')



def cosine_similarity(a, b):
    return np.dot(a, b) / (np.linalg.norm(a) * np.linalg.norm(b))

def get_closest_subs(df, txt, n=10):
    embedding = np.array(get_embedding([txt])[0].embedding)
    df['similarities'] = df.Embedding.apply(lambda x: cosine_similarity(x, embedding))
    # Aggregate similarities by sub, then return top n subs
    grouped = df.groupby('Sub')['similarities'].mean().reset_index()
    return grouped.sort_values('similarities', ascending=False).head(n)

df.loc[0]

Sub                                                 artificial
Title                                        AI has hit a wall
Embedding    [-0.01548602432012558, -0.010631220415234566, ...
Added                               2024-12-24T17:35:03.596191
Name: 0, dtype: object

In [ ]:
# Notebook Cell

SEARCH_API_URL = f"{os.environ.get("ZILLIZ_HOST")}/v2/vectordb/entities/search"
SEARCH_HEADERS = {
    "Authorization": f"Bearer {os.environ.get('ZILLIZ_API_KEY')}",
    "Accept": "application/json",
    "Content-Type": "application/json"
}
COLLECTION_NAME = "FindTheSub"
LIMIT = 10
TOP_N = 5

def query_closest_subs(txt, limit=LIMIT, top_n=TOP_N):
    embeddings = get_embedding([txt])
    if not embeddings: raise ValueError("Failed to obtain embedding for the input text.")
    payload = {
        "collectionName": COLLECTION_NAME,
        "data": [embeddings[0].embedding],
        "limit": limit,
        "outputFields": ["sub"]
    }
    r = requests.post(SEARCH_API_URL, json.dumps(payload), headers=SEARCH_HEADERS)
    r.raise_for_status()
    df = pd.DataFrame(r.json().get('data', []))
    if df.empty: 
        return df
    grouped = df.groupby('sub')['distance'].mean().reset_index()
    return grouped.sort_values('distance', ascending=False).head(top_n)

result = query_closest_subs("Why did I get laid off before the holidays?", limit=1000)
result

                  sub  distance
12       askSingapore  0.163058
17                mtg  0.148387
1            Adulting  0.147420
19                nyc  0.143336
3   LeopardsAteMyFace  0.142655